body {
	/*overflow-y: scroll !important;*/
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

#mapid {
	height: 100vh;
	width: 100vw;
	z-index: 0;
}
.hidden{
	visibility: hidden;
	display:none;
}
#quickBack{
	position: absolute !important;
	display: flex;
	justify-content: flex-end;
	margin-left: 90%;
}
#ReturnFrom360{
	z-index: 2;
	position: absolute !important;
	display: flex;
	justify-content: flex-end;
	top: 30px;
	right: 30px;
}

#locateMe {
	position: absolute !important;
	bottom: 30px;
	display: flex;
	justify-content: flex-end;
	width: 100vw;
}

#locator {
	margin: inherit;
	margin-right: 10px;
}

#walkContent{
	height: 100vh;
	width: 100vw;
	z-index: 0;
}

#PinModal{
	z-index: 2;
	width: 45%;
	height: 45%;
}

#ww1Slide {
	background: url('../img/background-ww1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

#endSlide {
	/*background-color: #FF1A1A;*/
	/*background-image: url(http://www.ww1photos.com/yahoo_site_admin/assets/images/The_Last_Survivors_Of_The_2nd_Royal_Munster_Fusiliers_On_The_Loos_Hulloch_Road_On_The_Evening_Of_September_25th_1915.27554249_large.jpg);*/
	background-size: 100% 100%;
}

#walkPage {
	/*background-color: #0000FF;*/
	/*background-image: url(http://www.ww1photos.com/yahoo_site_admin/assets/images/The_Last_Survivors_Of_The_2nd_Royal_Munster_Fusiliers_On_The_Loos_Hulloch_Road_On_The_Evening_Of_September_25th_1915.27554249_large.jpg);*/
	background-size: 100% 100%;
}

.mapPickSlide {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pageTitle {
	color: #FFF;
	text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
	align-self: center;
}

.pageButton {
	align-self: center;
}

button {
	cursor: pointer !important;
}

#mapSection {
	height: 100%;
	width: 100%;
}

/* Hide map controls */
.leaflet-control-container {
	display: none;
}

#sidebartoggle {
	position: fixed;
	z-index: 1000;
	margin-top: -90vh;
	transform: translateZ(0);
}

.ui.button {
	padding-right: .78571429em;
}

.nomargin {
	margin: 0 !important;
}

.sortButtons {
	cursor: pointer;
}

.sortButtons:hover {
	background: rgba(255, 255, 255, .08);
	color: #fff;
}

.pinInfo {
	min-height: 70px;
}

.pinInfoColumn {
	line-height: 35px;
	text-align: center;
}

.pinInfoContent {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.visitedPin {
	background: repeating-linear-gradient(
		-55deg,
		#333,
		#333 10px,
		#1B1C1D 10px,
		#1B1C1D 20px
		) !important;
}

.atPin {
	background: repeating-linear-gradient(
		-55deg,
		#444d86,
		#444d86 10px,
		#22284a 10px,
		#22284a 20px
		) !important;
}

.pinInfoContent {
	font-weight: bolder;
	font-size: 1.1em;
}

#arSlide {
	/*background: url("../img/rye.jpg");
	-webkit-background-size: cover;
	background-size: cover;*/
}

#vidOptions {
	height: 100vh;
}

#vidOptionsYesCol {
	/*background-color: #00FF00;*/
	transform: translate(-50vw, 0px);
}

#vidOptionsNoCol {
	/*background-color: #FF0000;*/
	transform: translate(50vw, 0px);
}

.showFromLeft {
	animation-name: slideFromLeft;
	animation-duration: 1s;
	-webkit-animation-name: slideFromLeft;
	-webkit-animation-duration: 1s;
	transform: translate(0vw, 0px) !important;
}

.showFromRight {
	animation-name: slideFromRight;
	animation-duration: 1s;
	-webkit-animation-name: slideFromRight;
	-webkit-animation-duration: 1s;
	transform: translate(0vw, 0px) !important;
}

@keyframes slideFromLeft {
	0%		{transform: translate(-50vw, 0px);}
	100%	{transform: translate(0vw, 0px);}
}

@-webkit-keyframes slideFromRight {
	0%		{transform: translate(50vw, 0px);}
	100%	{transform: translate(0vw, 0px);}
}

/* Stop iOS Video Controls Showing */
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}

/*--------------Custom--------------CSS */
.VidNav {
	top: 15px;
    left: 15px;
}

.videoOptionButton {
	text-align: center;
    display: block !important;
    top: 50%;
}

#backToMapHolder {
	transform: translateZ(0);
}

.toMapView {
	font-size: 75px !important;
}

#importContent {
	min-height: 100vh;
}

.ui.black.button {
	margin: auto;
}

#pinNavigationSidebarSlide {
	width: 350px !important;
	max-width: 70vw !important;
	color: white;
	background-color: #1b1c1d;
}

.item {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#homeButtonContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#homeButtonContainer p {
	font-size: 25px !important;
	color: #f3f3f3;
}

.whiteIcon {
	color: #f3f3f3 !important;
}

.pinDistanceDisplay {
	/*text-align: center !important;*/
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.fadedBlack {
	opacity: 0.5;

	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

#mapDisplaySlide {
	background-color: #000000;
}

.pinNameDisplay {
	padding-right: 10px;
}

.sidebarPinDistance {
	background-color: #212121;
}

.pinDistance {
	height: 70px;
}