#mapid {
	height: 100vh;
	width: 100vw;
	z-index: 0;
}

#ww1Slide {
	background: url('../img/background-ww1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

#endSlide {
	background-color: #FF1A1A;
	/*background-image: url(http://www.ww1photos.com/yahoo_site_admin/assets/images/The_Last_Survivors_Of_The_2nd_Royal_Munster_Fusiliers_On_The_Loos_Hulloch_Road_On_The_Evening_Of_September_25th_1915.27554249_large.jpg);*/
	background-size: 100% 100%;
}

#walkPage {
	background-color: #0000FF;
	/*background-image: url(http://www.ww1photos.com/yahoo_site_admin/assets/images/The_Last_Survivors_Of_The_2nd_Royal_Munster_Fusiliers_On_The_Loos_Hulloch_Road_On_The_Evening_Of_September_25th_1915.27554249_large.jpg);*/
	background-size: 100% 100%;
}

.pageTitle {
	color: #FFF;
	text-align: center;
	text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
	transform: translate(0%, -15%);
}

.pageButton {
	transform: translate(0%, 15%);
	width: 186px;
	font-size: 72px;
	margin: auto;
}

button {
	cursor: pointer !important;
}

#mapSection {
	height: 100%;
	width: 100%;
}

/* Hide map controls */
.leaflet-control-container {
	display: none;
}

#sidebartoggle {
	position: fixed;
	z-index: 1000;
	margin-top: -90vh;
	transform: translateZ(0);
}

.ui.button {
	padding-right: .78571429em;
}

.nomargin {
	margin: 0 !important;
}

.sortButtons {
	cursor: pointer;
}

.sortButtons:hover {
	background: rgba(255, 255, 255, .08);
	color: #fff;
}

.pinInfo {
	height: 70px;
}

.pinInfoColumn {
	line-height: 35px;
	text-align: center;
}

.pinInfoContent {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.visitedPin {
	background: repeating-linear-gradient(
		-55deg,
		#333,
		#333 10px,
		#1B1C1D 10px,
		#1B1C1D 20px
		) !important;
}

.atPin {
	background: repeating-linear-gradient(
		-55deg,
		#444d86,
		#444d86 10px,
		#22284a 10px,
		#22284a 20px
		) !important;
}

#pinNavigationSidebar { /*iOS fix (of course...) */
	overflow: auto;
	overflow-y: scroll !important;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
}

.pinInfoContent {
	font-weight: bolder;
	font-size: 1.1em;
}

#arSlide {
	/*background: url("../img/rye.jpg");
	-webkit-background-size: cover;
	background-size: cover;*/
}

#vidOptions {
	height: 100vh;
}

#vidOptionsYesCol {
	/*background-color: #00FF00;*/
	transform: translate(-50vw, 0px);
}

#vidOptionsNoCol {
	/*background-color: #FF0000;*/
	transform: translate(50vw, 0px);
}

.showFromLeft {
	animation-name: slideFromLeft;
	animation-duration: 1s;
	-webkit-animation-name: slideFromLeft;
	-webkit-animation-duration: 1s;
	transform: translate(0vw, 0px) !important;
}

.showFromRight {
	animation-name: slideFromRight;
	animation-duration: 1s;
	-webkit-animation-name: slideFromRight;
	-webkit-animation-duration: 1s;
	transform: translate(0vw, 0px) !important;
}

@keyframes slideFromLeft {
	0%		{transform: translate(-50vw, 0px);}
	100%	{transform: translate(0vw, 0px);}
}

@-webkit-keyframes slideFromRight {
	0%		{transform: translate(50vw, 0px);}
	100%	{transform: translate(0vw, 0px);}
}

/* Stop iOS Video Controls Showing */
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}

/*--------------Custome--------------CSS */
.VidNav {
	top: 15px;
    left: 15px;
}

.videoOptionButton {
	text-align: center;
    display: block !important;
    top: 50%;
}