@media only screen and (max-width : 480px) {

    .logo{
        width: 379px !important;
        top: 37px;
    }
    .face{
        transform: scale(0.8);
        margin-top: -20px;
        right: 37px;
    }
    .buttons{
        margin: 60px 25px 15px;
    }
    .logos h2{
        font-size: 25px;
    }
    .btn.start{
        padding: 9px 0px;
        font-size: 43px;
    }
    .btn.info{
        font-size: 32px;
        padding: 18px 0px;
        margin: 18px auto 0;
    }
	
	
	
	.video:before{
		font-size: 85px;
		margin-top: -26px;
	}
	.video:after{
		font-size: 35px;
		bottom: 34px;
	}
	.view-360, .continue, .dialog{
		font-size: 24px
	}
	.dialog{
		width: 155px;
		margin: 0px auto -15px;
	}
	.view-360 {
		width: 168px;
		float: left;
		margin: 0 10px -7px 0;
	}
	.back{
		font-size: 21px;
		padding: 15px 20px;
	}
	.table .title{
		margin-top: 35px
	}
	.gallery{
		padding: 36px 10px;
	}
	.owl-prev, .owl-next{
		top: 50px;
		background-size: contain;
		left: -47px;
	}
	.owl-next{
		background-size: contain;
		right: -50px;
	}
	.continue{
		margin-top: 10px;
	}
}